body {
    background: url('../images/lomLogo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cardRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    height: 70vh;
    width: 40vw;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;
    border: rgb(255, 196, 0) 2px solid;
    box-shadow: 10px 10px 100px 10px rgba(111, 0, 255, 0.425);
}

.card-header {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
